* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

nav {
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, .8);
    border-top: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    position: sticky;
    top: 0;
    padding-top: 10%;
}

.nav-bar {
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: black;
    z-index: 2;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding-left: 160px;
    /* padding-right: 30px; */
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    color: #fff;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 50px;
    /**  Rarely used! **/
}
.o-video {
    width: 100%;
    height: 0;
    position: relative;
    padding-top: 56.25%; /* 9 / 16 * 100 */
  }
  .o-video > iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
  }
  
.Container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-bottom: 10%;
    z-index: -2;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 60%; */
}

.responsive-iframe {
    width: 100%;
    height: 100vh;
    padding-bottom: 5%;
}

.TextBox1 {
    display: flex;
    align-items: center;
    height: 25rem;
    font-size: 3rem;
    transform: translateX(40%);
}

.TextBox1 h1 {
    color: #ffa126;
    /* background: rgba(0, 0, 0, 0.5); */
    /* opacity: 70%; */
}

.TextBox2 {
    /* align-items: center; */
    font-size: large;
    text-align: center;
    /* height: 10vh; */
    width: 80%;
    /* padding-left: 8%; */
    font-size: 400;
    padding-top: 5%;
}

.Container2 {
    display: flex;
    justify-content: center;
}

.TextBox2 h3 {
    color: white;
    font-weight: 400;
    font-size: x-large;
}

.Container3,
.Container4 {
    display: flex;
    justify-content: center;
}

.TextBox3 {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    font-size: x-large;
    padding-bottom: 10%;
    width: 80%;
    padding-top: 10%;
}

.TextBox3 h3 {
    color: #00BE00;
}

.book iframe {
    width: 100%;
    height: 85vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    background-color: black;
    /* padding-top: 1rem; */
}

.button-1 {
    background-color: #FE9408;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.15rem;
    font-weight: 400;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: 0.75s;
}

.button-1:hover {
    transform: scale(1.1);
    transition: 0.75s;
}

.logo img {
    width: 80%;
    padding-bottom: 0.6rem;
    height: 80%;
}

.logo {
    top: 0%;
    width: 5%;
    height: auto;
    padding-top: 1rem;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0 50px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.15rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.download-links {
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
    padding-bottom: 5%;
}

.download-links div {
    height: 85%;
    text-align: center;
    padding-bottom: 20%;
}

.download-links img {
    height: 30vh;
    width: 17vw;
}

.download-links h2 {
    color: aliceblue;
    text-align: center;
}

.navbar ul li a::after {
    content: "";
    height: 3px;
    width: 0;
    top: 0;
    position: fixed;
    /* background-color: #00BE00; */
    left: 0;
    bottom: -8px;
    transition: .3s ease;
}

.navbar ul li a:hover::after {
    width: 100%;
}

.navbar ul li a:hover {
    color: #00BE00;
}

.h-res,
.l-res {
    transition: 0.75s ease-in-out;
}

.h-res:hover {
    transform: scale(1.1);
    transition: 0.75s ease-in-out;
}

.l-res:hover {
    transform: scale(1.1);
    transition: 0.75s;
}

@media (max-width: 1020px) {
    nav ul li {
        padding: 0 20px;
    }
    nav {
        padding: 20px;
    }
}

@media (max-width: 705px) {
    nav .nav-items {
        padding: 0px;
        display: grid;
        position: absolute;
        background-color: black;
        width: 100%;
        left: 0;
        top: 90px;
        z-index: -1;
        transform: translateY(-180%);
        transition: .6s;
    }
    .navbar ul li {
        padding: 10px 0;
        padding-right: 20px;
        text-align: right;
    }
    nav .navbar-toggle {
        display: grid !important;
    }
    .TextBox1 {
        font-size: 2rem;
    }
    .Container-1 {
        height: 85vh;
        width: auto;
        padding-bottom: 10%;
    }
    nav {
        height: 10vh;
    }
}

@media (max-width: 425px) {
    .logo {
        padding-top: 2vh;
        width: 15vw;
        height: 10vh;
    }
    .download-links {
        height: 30vh;
    }
    /* .download-links div {
        height: 17vh !important;
    } */
    .TextBox1 {
        font-size: 1.4rem;
        width: 50%;
        display: flex;
        justify-content: center;
        transform: translateX(0%);
        opacity: 100% !important;
    }
    .TextBox1 h1 {
        background: rgba(0, 0, 0, 0.7)!important;
        padding-left: 10px;
        padding-right: 10px;
    }
    .Container-1 {
        height: 50vh;
        width: auto;
        padding-bottom: 20%;
        display: flex;
        justify-content: center;
    }
    .TextBox2 {
        font-size: 10px;
    }
    .download-links img {
        height: 13vh;
        width: 25vw;
    }
    .h-res,
    .l-res {
        padding: 0;
    }
}

nav .navbar-toggle {
    display: none;
    height: min-content;
    margin: 10px -10px 0 0;
    cursor: pointer;
}

nav .navbar-toggle .bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: aliceblue;
    border-radius: 20px;
    transition: .4s;
}

nav #abhishar {
    padding-left: 0px;
}

nav .nav-items {
    padding: 0px;
}

input {
    display: none;
}

input:checked~nav .nav-items {
    transform: translateY(0);
    z-index: 0;
}